@use '@/base';

.bread-crumb {
    display: inline-block;
    background-color: base.$color-light-blue;
    border-radius: 10px;
    padding: 8px 12px;
    text-align: center;
    position: fixed;
    top: 170px;
    left: 50px;
    font-size: 1rem;

    &-nav {
        display: flex;
    }

    &-nav-deli {
        display: flex;
        align-items: center;
    }

    &-nav-arrow {
        fill: base.$color-font-light-blue;
    }

    @media (max-width: 1100px) {
        font-size: 0.8rem;
    }
}
