@use '@/base';

.sub-crumb {
    display: flex;
    align-items: center;

    &-content {
        color: base.$color-font-blue;
        text-decoration: underline;

        &.disabled {
            text-decoration: none;
            pointer-events: none;
        }
    }
}