@use "@/base";

.footer{
    a {
        color: base.$color-font-blue;
        text-decoration: underline;
    }

    background-color: base.$color-light-blue;
    height: base.$footer-height;
    display: flex;
    justify-content: center;
    align-items: center;

    &-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    &-left {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    &-left-fields {
        font-size: 0.8rem;
        color: base.$color-black;
    }

    &-left-title {
        color: base.$color-font-blue;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    &-right {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    &-right-content {
        font-size: 1rem;
        display: flex;
        align-items: center;
        color: base.$color-dark-gray
    }

}