// Global setting (color, font)

$header-height: 120px;
$footer-height: 200px;
$container-padding: 170px;

$point-color-blue: #3461A8;
$point-color-yellow: #F8C605;
$color-light-blue: #D6E3F2;
$color-light-gray: #d5d5d5;
$color-dark-gray: #8a8a8a;
$color-black: #2f2f2f;
$color-font-blue: #327FED;
$color-font-light-blue: #8F9CE4;
$color-font-light: #F0F0F0;

// Font

@font-face {
  font-family: "Fredoka";
  src: url(@/fonts/Fredoka-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "Fredoka";
  src: url(@/fonts/Fredoka-Light.ttf);
  font-weight: Light;
}

@font-face {
  font-family: "Fredoka";
  src: url(@/fonts/Fredoka-Medium.ttf);
  font-weight: Medium;
}

@font-face {
  font-family: "Fredoka";
  src: url(@/fonts/Fredoka-Regular.ttf);
  font-weight: Normal;
}

@font-face {
  font-family: "Fredoka";
  src: url(@/fonts/Fredoka-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Noto Sans";
  src: url(@/fonts/NotoSans-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "Noto Sans";
  src: url(@/fonts/NotoSans-Light.ttf);
  font-weight: Light;
}

@font-face {
  font-family: "Noto Sans";
  src: url(@/fonts/NotoSans-Medium.ttf);
  font-weight: Medium;
}

@font-face {
  font-family: "Noto Sans";
  src: url(@/fonts/NotoSans-Regular.ttf);
  font-weight: Normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url(@/fonts/NotoSans-SemiBold.ttf);
  font-weight: 600;
}